@font-face {
    font-family: 'Gotham Book';
    src: url('../tipografias/Gotham_Book.ttf');
}


/*Estilos para el registro*/

.div-general {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.div-general .div-redes-sociales {
    position: absolute;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100vw;
    height: 100px;
}

.div-general .div-redes-sociales .div-iconos {
    position: absolute;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 35%;
    height: 70px;
}

.div-general .div-redes-sociales .div-iconos a {
    margin-right: 8%;
    text-decoration: none;
    font-size: 35px;
    color: #fff;
}

.div-fondo {
    position: absolute;
    z-index: -1;
    background-color: rgba(10, 10, 10, 0.650);
    height: 100vh;
    width: 100vw;
}

.div-general .div-registro {
    width: 650px;
    height: 100vh;
}

.div-general .div-registro .formulario {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-general .div-registro .formulario .div-logo {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-general .div-registro .formulario .div-logo img {
    width: 50%;
    margin-bottom: 6%;
}

.div-general .div-registro .formulario .div-campos {
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.63);
}

.div-general .div-registro .formulario .div-campos .div-input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-general .div-registro .formulario .div-campos .div-input input:focus {
    outline: none;
}

.div-general .div-registro .formulario .div-campos .div-input:not(.div-boton) {
    margin-bottom: 4%;
}

.div-general .div-registro .formulario .div-campos label {
    font-family: "Gotham Book";
    font-size: 17px;
    width: 30%;
    color: #fff;
}

.div-general .div-registro .formulario .div-campos input {
    width: 45%;
    height: 25px;
    padding-left: 3%;
    background: none;
    border: 1px solid #DD9F18;
    font-family: "Gotham Book";
    color: #fff;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.div-general .div-registro .formulario .div-campos .div-boton button {
    width: 80%;
    height: 35px;
    background: none;
    border: 1px solid #fff;
    font-family: "Gotham Book";
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.div-general .div-registro .formulario .div-logo-footer {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-general .div-registro .formulario .div-logo-footer img {
    width: 30%;
    margin-top: 6%;
}

@media (max-width: 500px) {
    .div-general .div-redes-sociales {
        justify-content: center;
    }
    .div-general .div-redes-sociales .div-iconos {
        width: 90%;
        justify-content: center;
    }
    .div-general .div-redes-sociales .div-iconos a {
        margin-right: 10%;
    }
    .div-general .div-redes-sociales .div-iconos .a-ultimo {
        margin-right: 0;
    }
    .div-general .div-registro {
        width: 100%;
    }
    .div-general .div-registro .formulario .div-campos {
        border: none;
    }
    .div-general .div-registro .formulario .div-campos label {
        font-size: 15px;
        width: 30%;
    }
    .div-general .div-registro .formulario .div-campos input {
        width: 50%;
    }
    .div-general .div-registro .formulario .div-campos .div-input:not(.div-boton) {
        margin-bottom: 5%;
    }
}